{% block content %}
<form action='.' method='POST'>
    {% csrf_token %}
    <div>
        <table style="width:100%">
            <tr>
              <th>Vă rugăm să completați codul personal răspunzând întrebărilor de mai jos conform exemplului:</th>
              <th>Exemplu</th>
              <th>Codul Dvs.</th>
            </tr>
            <tr>
              <td>Prima literă a orașului în care v-ați născut </td>
              <td>Cluj-Napoca     C</td>
              <td>{{form.litera_oras}} {{form.litera_oras.errors}}</td>
            </tr>
            <tr>
              <td>Prima literă a județului în care v-ați născut</td>
              <td>Cluj   C</td>
              <td>{{form.litera_judet}} {{form.litera_judet.errors}}</td>
            </tr>
            <tr>
                <td>Suma ultimelor două cifre ale anului nașterii</td>
                <td>1975(7 +5)</td>
                <td>{{form.suma_cifre_an_nastere}} {{form.suma_cifre_an_nastere.errors}}</td>
            </tr>
            <tr>
                <td>Suma dintre ziua și luna nașterii</td>
                <td>18 octombrie (18+10)    28</td>
                <td>{{form.suma_cifre_zi_luna}} {{form.suma_cifre_zi_luna.errors}}</td>
            </tr>
          </table>

          <button type="submit">Submit </button>
    </div>
</form>
{{ cod}}
{% endblock %}